*~
*.bz2
*.gz
*.la
*.lo
*.o
ABOUT-NLS
ChangeLog
INSTALL
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
compile
config.guess
config.h
config.h.in
config.h.in~
config.log
config.rpath
config.status
config.sub
configure
configure.in
depcomp
install-sh
libtool
ltmain.sh
m4/
missing
mkinstalldirs
nbproject/
panel-plugin/.deps/
panel-plugin/.libs/
panel-plugin/calculator.desktop
panel-plugin/xfce4-calculator-plugin
po/*.gmo
po/Makefile.in.in
po/POTFILES
po/stamp-po
po/Makevars.template
po/Rules-quot
po/boldquot.sed
po/en@boldquot.header
po/en@quot.header
po/insert-header.sin
po/quot.sed
po/remove-potcdate.sed
po/remove-potcdate.sin
po/*.pot
stamp-h1
test-driver
panel-plugin/calctest
tests/*.log
tests/*.trs
