*.bz2
*.gz
*.la
*.lo
*.o
ChangeLog
INSTALL
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
compile
config.guess
config.h
config.h.in
config.h.in~
config.log
config.status
config.sub
configure
configure.ac
configure.in
depcomp
install-sh
libtool
ltmain.sh
m4/intltool.m4
m4/libtool.m4
m4/ltoptions.m4
m4/ltversion.m4
m4/lt~obsolete.m4
missing
mkinstalldirs
nbproject/
panel-plugin/.deps/
panel-plugin/.libs/
panel-plugin/calculator.desktop
panel-plugin/xfce4-calculator-plugin
po/*.gmo
po/.intltool-merge-cache*
po/Makefile.in.in
po/POTFILES
po/stamp-it
stamp-h1
test-driver
panel-plugin/calctest
tests/*.log
tests/*.trs
